In [2]:
a="c"

In [3]:
a

'c'

In [2]:
type(a)

NameError: name 'a' is not defined

In [1]:
int("1233")

1233

In [ ]:
name='namit'
age=19
degree="BE"
print("my age is {age2} and my name is {name1} and my degree {degree3} ".format(age2=age,name1=name,degree3=degree))

In [ ]:
name="namit"
print(f"my name is :(name)"

In [ ]:
name='namit'
age=19
degree="BE"
print("my age is {age2} and my name is {name1} and my degree {degree3} ").format(age2=age,name1=name,degree3=degree)

In [13]:
name='namit'
age=19
degree="BE"
print("my age is {age2} and my name is {name1} and my degree {degree3} ".format(age2=age,name1=name,degree3=degree))

my age is 19 and my name is namit and my degree BE

In [35]:
age=int(input("enter your age"))
if age>=18 and age<=48:
    print("you are young blood ")
else:
    print("thank you let you kno")

enter your age 7

thank you let you kno

In [20]:
age

'963'

In [21]:
type(age)

str

In [39]:
product_price=int(input("enter youre acc balance"))
if product_price>=1000:
    print("final price is {}".format(product_price*0.8))
else:
    print("final price is {}".format(product_price*0.7))

enter youre acc balance 100

final price is 70.0

In [41]:
product_price=int(input("enter youre acc balance"))
if product_price>=1000:
    print(f"final price is ")
else:
    print(f"final price is ")

enter youre acc balance 200

final price is

In [ ]:
product_price=int(input("enter youre acc balance"))
if product_price>3000:
    print("final price is {}".format(product_price*0.8))
elif product_price>=2000 and produt_price<=3000:
    print("final price is {}".format(product_price*0.7))
elif product_price>=