# Open In Google Collab

## Regression Using ANN

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import fetch_california_housing
from sklearn.model_selection import train_test_split
import tensorflow as tf
from sklearn.preprocessing import StandardScaler

In [3]:
housing=fetch_california_housing()

In [4]:
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [5]:
housing.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])

In [6]:
X=pd.DataFrame(data=housing.data,columns=housing.feature_names)

In [7]:
X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [8]:
y=pd.DataFrame(data=housing.target,columns=["target"])
y.head()

   target
0   4.526
1   3.585
2   3.521
3   3.413
4   3.422

In [9]:
X.shape

(20640, 8)

In [10]:
y.shape

(20640, 1)

In [11]:
X.drop(["Latitude","Longitude"],axis=1,inplace=True)

In [12]:
X_train_full,X_test,y_train_full,y_test=train_test_split(X,y,random_state=42)
X_valid,X_train,y_valid,y_train=train_test_split(X_train_full,y_train_full,random_state=42)

In [13]:
print(X_train_full.shape)
print(X_test.shape)
print(X_train.shape)
print(X_valid.shape)

(15480, 6)
(5160, 6)
(3870, 6)
(11610, 6)

In [14]:
LAYERS=[
    tf.keras.layers.Dense(30,activation="relu",input_shape=X_train.shape[1:]),
    tf.keras.layers.Dense(10,activation="relu"),
    tf.keras.layers.Dense(5,activation="relu"),
    tf.keras.layers.Dense(1)
]

In [15]:
model=tf.keras.models.Sequential(LAYERS)

In [16]:
LOSS = "mse"
OPTIMIZER="sgd"
model.compile(optimizer=OPTIMIZER,loss=LOSS)

In [17]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 30)                210

 dense_1 (Dense)             (None, 10)                310

 dense_2 (Dense)             (None, 5)                 55

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 581 (2.27 KB)
Trainable params: 581 (2.27 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [18]:
scaler=StandardScaler()

X_train =scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)
X_valid=scaler.transform(X_valid)

In [19]:
EPOCHS = 20

history=model.fit(X_train,y_train,epochs=EPOCHS,validation_data=(X_valid,y_valid))

Epoch 1/20
121/121 [==============================] - 1s 6ms/step - loss: 1.3108 - val_loss: 0.7141
Epoch 2/20
121/121 [==============================] - 1s 4ms/step - loss: 0.6585 - val_loss: 0.6755
Epoch 3/20
121/121 [==============================] - 1s 4ms/step - loss: 0.6092 - val_loss: 0.6294
Epoch 4/20
121/121 [==============================] - 1s 4ms/step - loss: 0.5776 - val_loss: 0.5995
Epoch 5/20
121/121 [==============================] - 1s 4ms/step - loss: 0.5582 - val_loss: 0.5865
Epoch 6/20
121/121 [==============================] - 1s 4ms/step - loss: 0.5459 - val_loss: 0.5729
Epoch 7/20
121/121 [==============================] - 1s 4ms/step - loss: 0.5418 - val_loss: 0.5655
Epoch 8/20
121/121 [==============================] - 1s 4ms/step - loss: 0.5380 - val_loss: 0.5808
Epoch 9/20
121/121 [==============================] - 1s 4ms/step - loss: 0.5258 - val_loss: 0.5559
Epoch 10/20
121/121 [==============================] - 1s 4ms/step - loss: 0.5193 - val_loss: 0.5569
Epoch 11/20
121/121 [==============================] - 1s 4ms/step - loss: 0.5150 - val_loss: 0.5517
Epoch 12/20
121/121 [==============================] - 1s 4ms/step - loss: 0.5112 - val_loss: 0.5462
Epoch 13/20
121/121 [==============================] - 1s 4ms/step - loss: 0.5077 - val_loss: 0.5388
Epoch 14/20
121/121 [==============================] - 1s 4ms/step - loss: 0.5047 - val_loss: 0.5358
Epoch 15/20
121/121 [==============================] - 1s 4ms/step - loss: 0.5009 - val_loss: 0.5345
Epoch 16/20
121/121 [==============================] - 1s 4ms/step - loss: 0.4964 - val_loss: 0.5307
Epoch 17/20
121/121 [==============================] - 1s 4ms/step - loss: 0.4948 - val_loss: 0.5279
Epoch 18/20
121/121 [==============================] - 1s 4ms/step - loss: 0.4917 - val_loss: 0.5261
Epoch 19/20
121/121 [==============================] - 1s 4ms/step - loss: 0.4917 - val_loss: 0.5283
Epoch 20/20
121/121 [==============================] - 1s 4ms/step - loss: 0.4874 - val_loss: 0.5273

In [20]:
pd.DataFrame(history.history)

        loss  val_loss
0   1.310841  0.714086
1   0.658534  0.675500
2   0.609198  0.629443
3   0.577586  0.599514
4   0.558249  0.586500
5   0.545867  0.572896
6   0.541798  0.565541
7   0.537988  0.580838
8   0.525774  0.555871
9   0.519306  0.556892
10  0.514974  0.551720
11  0.511171  0.546235
12  0.507664  0.538798
13  0.504734  0.535763
14  0.500906  0.534470
15  0.496363  0.530679
16  0.494764  0.527884
17  0.491710  0.526097
18  0.491689  0.528320
19  0.487407  0.527326

In [21]:
model.evaluate(X_test,y_test)

162/162 [==============================] - 0s 1ms/step - loss: 0.5311

0.5310584902763367

In [22]:
X_test.shape

(5160, 6)

In [23]:
y_test.shape

(5160, 1)

In [24]:
new=X_test[0]

In [25]:
new

array([-1.1433232 , -0.28037572, -0.59584564, -0.1914207 , -0.03544086,
        0.01390053])

In [26]:
new.reshape((1,6)).shape

(1, 6)

In [27]:
model.predict(new.reshape((1,6)))

1/1 [==============================] - 0s 110ms/step

array([[0.87210906]], dtype=float32)

In [28]:
model_2 = tf.keras.models.Sequential(LAYERS)

LOSS = "mse"
OPTIMIZER = tf.keras.optimizers.SGD(learning_rate=1e-3)

model_2.compile(loss=LOSS , optimizer=OPTIMIZER)

EPOCHS = 20

checkpoint_cb = tf.keras.callbacks.ModelCheckpoint("my_keras_model.h5", save_best_only=True)
early_stopping_cb = tf.keras.callbacks.EarlyStopping(patience=5, restore_best_weights=True)
tensorboard_cb = tf.keras.callbacks.TensorBoard(log_dir="logs")

CALLBACKS = [checkpoint_cb, early_stopping_cb, tensorboard_cb]


history = model_2.fit(X_train, y_train, epochs = EPOCHS, validation_data=(X_valid, y_valid), callbacks = CALLBACKS)

Epoch 1/20
121/121 [==============================] - 1s 6ms/step - loss: 0.4822 - val_loss: 0.5174
Epoch 2/20
108/121 [=========================>....] - ETA: 0s - loss: 0.4867

/opt/conda/lib/python3.10/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

121/121 [==============================] - 1s 5ms/step - loss: 0.4800 - val_loss: 0.5165
Epoch 3/20
121/121 [==============================] - 1s 5ms/step - loss: 0.4796 - val_loss: 0.5159
Epoch 4/20
121/121 [==============================] - 1s 4ms/step - loss: 0.4793 - val_loss: 0.5162
Epoch 5/20
121/121 [==============================] - 1s 7ms/step - loss: 0.4789 - val_loss: 0.5159
Epoch 6/20
121/121 [==============================] - 1s 5ms/step - loss: 0.4788 - val_loss: 0.5159
Epoch 7/20
121/121 [==============================] - 1s 5ms/step - loss: 0.4785 - val_loss: 0.5153
Epoch 8/20
121/121 [==============================] - 1s 5ms/step - loss: 0.4785 - val_loss: 0.5152
Epoch 9/20
121/121 [==============================] - 1s 5ms/step - loss: 0.4782 - val_loss: 0.5151
Epoch 10/20
121/121 [==============================] - 1s 5ms/step - loss: 0.4779 - val_loss: 0.5149
Epoch 11/20
121/121 [==============================] - 1s 4ms/step - loss: 0.4772 - val_loss: 0.5159
Epoch 12/20
121/121 [==============================] - 1s 5ms/step - loss: 0.4777 - val_loss: 0.5147
Epoch 13/20
121/121 [==============================] - 1s 5ms/step - loss: 0.4775 - val_loss: 0.5143
Epoch 14/20
121/121 [==============================] - 1s 4ms/step - loss: 0.4769 - val_loss: 0.5147
Epoch 15/20
121/121 [==============================] - 1s 5ms/step - loss: 0.4768 - val_loss: 0.5140
Epoch 16/20
121/121 [==============================] - 1s 4ms/step - loss: 0.4768 - val_loss: 0.5141
Epoch 17/20
121/121 [==============================] - 1s 5ms/step - loss: 0.4765 - val_loss: 0.5137
Epoch 18/20
121/121 [==============================] - 1s 4ms/step - loss: 0.4763 - val_loss: 0.5137
Epoch 19/20
121/121 [==============================] - 1s 5ms/step - loss: 0.4762 - val_loss: 0.5133
Epoch 20/20
121/121 [==============================] - 1s 5ms/step - loss: 0.4758 - val_loss: 0.5132

In [29]:
%load_ext tensorboard

In [30]:
%tensorboard --logdir="logs"

## Loss Function

SEE NOTE BOOK

## Batch Normalization

SEE NOTE BOOK